body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

/*.board-row {*/
    /*overflow-x:auto;*/
/*}*/

.status {
    margin-bottom: 10px;
}

.square {
    border: 1px solid #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: absolute;
    flex-direction: row;
}

.game-info {
    padding: 20px;
}

.game-board {
   width: 1000%; /* see https://www.modus-made.com/ideas/css-tricks-expanding-beyond-a-parent-div/*/
}
